[submodule "vendored/raylib"]
	path = vendored/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendored/imgui"]
	path = vendored/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendored/rlImGui"]
	path = vendored/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git